* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: whitesmoke;
}

.container {
  width: 100%;
  height: 100vh;
  background: url(blurry-gradient-haikei.png) no-repeat;
  background-size: cover;
}

.box {
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 2px 2px 5px rgb(192, 233, 233), -2px -2px 5px rgb(192, 233, 233);
  backdrop-filter: blur 10px;
}

/* .box {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  border-radius: 8px;
  padding: 20px 40px;
} */

.signup-header h1 {
  font-size: 2.2rem;
  text-align: center;
  padding: 5px 8px;
}

.signup-body div {
  margin-top: 20px;
}

.signup-body div label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.signup-body div input {
  width: 100%;
  padding: 9px;
  border-radius: 4px;
  font-size: 14px;
  margin-block: 4px;
  border: none;
  outline: none;
  color: black;
}

.signup-body div input[type="submit"] {
  border: none;
  background-color: rgb(6, 237, 237);
  font-size: 18px;
  font-weight: 900;
  color: rgb(7, 92, 176);
  cursor: pointer;
}

.signup-body div input[type="submit"]:hover {
  background-color: rgb(192, 233, 233);
}

signup-body div span {
  font-size: 18px;
  font-weight: 600;
  color: lightgreen;
}

.material-symbols-outlined {
  position: absolute;

  right: 55px;
  top: 112px;
  color: rgb(239, 13, 13);
}

.signup-footer div {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.signup-footer div a {
  text-decoration: none;
}

.signup-footer div a:hover {
  text-decoration: underline;
}
